* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Calligraffitti", cursive;
}

h1 {
  margin-top: 20px;
  font-size: 5rem;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./textura-papel-blanco.jpg);
  background-size: cover;
}

table {
  border-collapse: collapse;
}

table,
td {
  margin: 2rem 35rem;
  border: 1px solid black;
  width: 350px;
  height: 150px;
  text-align: center;
  font-size: 30px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
